/* ::::: http://my1.imgsmail.ru/mail/ru/css/new/share/compiled/20.css?1_2 ::::: */

html, body { margin: 0px; padding: 0px; }
.like-button { border: 0px none; background: transparent none repeat scroll 0% 0%; padding: 0px; margin: 0px; cursor: pointer; display: inline-block; white-space: nowrap; position: relative; overflow: hidden; float: left; text-decoration: none; }
.like-button .wrp { position: relative; }
.like-button .btn { font-style: normal; }
.like-button .like-logo, .like-button .like-preloader { display: inline-block; position: absolute; }
.like-button-mm .caption { color: white; }
.like-button-mm .counter { color: rgb(12, 79, 144); }
.size-20 .like-button { font-size: 12px; line-height: 20px; }
.size-20 .like-button, .size-20 .like-button .wrp, .size-20 .like-button .btn, .size-20 .like-button .like-logo, .size-20 .like-button .caption, .size-20 .like-button .counter, .size-20 .like-button .counter span { display: inline-block; height: 20px; white-space: nowrap; }
.size-20 .like-button .wrp { background-position: 0px 0px; padding: 0px 0px 0px 10px; display: block; }
.size-20 .like-button .btn { background-position: right -20px; padding: 0px 2px 0px 11px; display: block; }
.size-20 .like-button:hover .wrp, .size-20 .like-button.like-button-hover .wrp { background-position: left -40px; }
.size-20 .like-button:hover .btn, .size-20 .like-button.like-button-hover .btn { background-position: right -60px; }
.size-20 .like-button:hover #mm-like-preloader, .size-20 .like-button.like-button-hover #mm-like-preloader { background-position: -14px 0px ! important; }
.size-20 .like-button .counter { background-position: 0px -278px; margin-left: 6px; padding: 0px 0px 0px 8px; }
.size-20 .like-button .counter span { background-position: right -298px; padding: 0px 8px 0px 0px; }
.size-20 .like-button .like-logo, .size-20 .like-button .like-preloader { background-position: 0px -220px; width: 22px; top: 0px; left: 0px; }
.size-20 .like-button .like-preloader { display: none; width: 14px; height: 14px; background: transparent url('preloader.gif') no-repeat scroll 0% 0%; margin: 3px 0px 0px 4px ! important; }
.size-20 .like-button #mm-like-logo { width: 14px; }
.size-20 .like-button #mm-like-preloader { background-position: 0px 0px ! important; }
.size-20 .like-button-mm .like-logo, .size-20 .like-button-mm .like-preloader { margin: 4px 0px 0px 3px; }
.size-20 .like-button-oval-mm .wrp, .size-20 .like-button-oval-mm .btn, .size-20 .like-button-oval-mm .like-logo, .size-20 .like-button-oval-mm .counter, .size-20 .like-button-oval-mm .counter span { background-image: url('mm-oval.png'); }
.like-button-mm { margin-right: 10px; }
